{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Sign Up</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Signup Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/signup.jpg' %}" alt="Signup Image">
                        <div class="hover">
                            <h4>New to our website?</h4>
                            <p>There are advances being made in science and technology every day, and a good example of this is the</p>
                            <a class="primary-btn" href="{% url 'login' %}">Already have an account? Log In</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Create an account</h3>
                        <form class="row login_form" method="post" action="{% url 'signup' %}" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="col-md-12 form-group">
                                {{ form.username }}
                                {{ form.username.help_text|safe }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.email }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.password1 }}
                                {{ form.password1.help_text|safe }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.password2 }}
                                {{ form.password2.help_text|safe }}
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Signup Box Area =================-->
{% endblock %}
